body {
  font: 100% Helvetica, sans-serif;
  font-size: 13px;
}
.new-section {
  background-color: black;
  color: white;
  padding: 10px;
  
}

.new-section h2 {
  color: hsl(35, 77%, 62%);
}

.new-section h3 {
font-size: 18px;
font-weight: 600;
}

.title-main-article {
  padding: 0;
}

.summary-main-article {
  padding: 15px;
}

button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  padding: 10px 25px;
  margin: 15px 5px;
  border-color: hsl(5, 85%, 63%);
}
footer {
  text-align: center;
  margin-top: 15px;
}
