body {
  font: 100% Helvetica, sans-serif;
  font-size: 13px;
  margin-left: 50px;
  margin-right: 50px;
}

/* it doesn't work on hover
a.nav-link:hover {
  background-color: hsl(0, 0%, 100%);
} */

.navbar {
  margin-left: 50px;
}
.new-section {
  background-color: black;
  color: white;
  padding: 10px;
}

.new-section h2 {
  color: hsl(35, 77%, 62%);
}

.new-section h3 {
  font-size: 18px;
  font-weight: 600;
}

.new-section p {
  color: hsl(233, 8%, 79%);
  opacity: 80%;
}

.title-main-article {
  padding: 0;
}

.summary-main-article {
  padding: 15px;
}

button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  padding: 10px 25px;
  margin: 15px 5px;
  border-color: hsl(5, 85%, 63%);
}

.read-more-button:hover {
  background-color: black;
  border-color: black;
}

.top-three-news {
  padding: 20px;
  margin-top: 20px;
}
.top-three-news h2 {
  color: hsl(233, 8%, 79%);
}

.top-three-news h3 {
  font-size: 16px;
  font-weight: 600;
}

.top-three-news p {
  color: hsl(230, 2%, 47%);
}
footer {
  text-align: center;
  margin-top: 15px;
}
